<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {{>header}}<br>
    <p>This sit was created by Suresh Patil. It uses data from mapbox.com and darksky.net</p>
    <img src="/img/suri.png">
    {{>footer}}
</body>

</html>