<!DOCTYPE html>
<html>

<head>

</head>


<body>
   {{>header}}
   <br>
   <form>
      <input type="text" placeholder="location" />
      <button>Submit</button>
   </form>
   <p id="message-1"></p>
   <p id="message-2"></p>
   {{>footer}}
   <script src="/js/app.js"></script>
</body>

</html>